<div>
    <h2 id="page-heading">
        <span jhiTranslate="imprendocasaApp.geolocalizzazione.home.title">Geolocalizzaziones</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-geolocalizzazione" [routerLink]="['/geolocalizzazione/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="imprendocasaApp.geolocalizzazione.home.createLabel">
            Create new Geolocalizzazione
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="geolocalizzaziones">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="imprendocasaApp.geolocalizzazione.immobile">Immobile</span></th>
            <th><span jhiTranslate="imprendocasaApp.geolocalizzazione.latitudine">Latitudine</span></th>
            <th><span jhiTranslate="imprendocasaApp.geolocalizzazione.longitudine">Longitudine</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let geolocalizzazione of geolocalizzaziones ;trackBy: trackId">
                <td><a [routerLink]="['/geolocalizzazione', geolocalizzazione.id, 'view' ]">{{geolocalizzazione.id}}</a></td>
                <td>{{geolocalizzazione.immobile}}</td>
                <td>{{geolocalizzazione.latitudine}}</td>
                <td>{{geolocalizzazione.longitudine}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/geolocalizzazione', geolocalizzazione.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/geolocalizzazione', geolocalizzazione.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'geolocalizzazione/'+ geolocalizzazione.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
