<div>
    <h2 id="page-heading">
        <span jhiTranslate="imprendocasaApp.files.home.title">Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-files" [routerLink]="['/files/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="imprendocasaApp.files.home.createLabel">
            Create new Files
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="files">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="imprendocasaApp.files.nome">Nome</span></th>
            <th><span jhiTranslate="imprendocasaApp.files.dimensione">Dimensione</span></th>
            <th><span jhiTranslate="imprendocasaApp.files.estensione">Estensione</span></th>
            <th><span jhiTranslate="imprendocasaApp.files.immobile">Immobile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let files of files ;trackBy: trackId">
                <td><a [routerLink]="['/files', files.id, 'view' ]">{{files.id}}</a></td>
                <td>{{files.nome}}</td>
                <td>{{files.dimensione}}</td>
                <td>{{files.estensione}}</td>
                <td>
                    <div *ngIf="files.immobileId">
                        <a [routerLink]="['../immobile', files.immobileId , 'view' ]" >{{files.immobilePathFolder}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/files', files.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/files', files.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'files/'+ files.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
