<div>
    <h2 id="page-heading">
        <span jhiTranslate="imprendocasaApp.notifiche.home.title">Notifiches</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notifiche" [routerLink]="['/notifiche/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="imprendocasaApp.notifiche.home.createLabel">
            Create new Notifiche
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="notifiches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="canaleNotifica"><span jhiTranslate="imprendocasaApp.notifiche.canaleNotifica">Canale Notifica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoNotifica"><span jhiTranslate="imprendocasaApp.notifiche.tipoNotifica">Tipo Notifica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoriaNotifica"><span jhiTranslate="imprendocasaApp.notifiche.categoriaNotifica">Categoria Notifica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="oggettoNotifica"><span jhiTranslate="imprendocasaApp.notifiche.oggettoNotifica">Oggetto Notifica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="testoNotifica"><span jhiTranslate="imprendocasaApp.notifiche.testoNotifica">Testo Notifica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroDestinatari"><span jhiTranslate="imprendocasaApp.notifiche.numeroDestinatari">Numero Destinatari</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="destinatariNotifica"><span jhiTranslate="imprendocasaApp.notifiche.destinatariNotifica">Destinatari Notifica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="esitoNotifica"><span jhiTranslate="imprendocasaApp.notifiche.esitoNotifica">Esito Notifica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dettagliEsito"><span jhiTranslate="imprendocasaApp.notifiche.dettagliEsito">Dettagli Esito</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notifiche of notifiches ;trackBy: trackId">
                <td><a [routerLink]="['/notifiche', notifiche.id, 'view' ]">{{notifiche.id}}</a></td>
                <td jhiTranslate="{{'imprendocasaApp.CanaleNotifica.' + notifiche.canaleNotifica}}">{{notifiche.canaleNotifica}}</td>
                <td jhiTranslate="{{'imprendocasaApp.TipoNotifica.' + notifiche.tipoNotifica}}">{{notifiche.tipoNotifica}}</td>
                <td jhiTranslate="{{'imprendocasaApp.CategoriaNotifica.' + notifiche.categoriaNotifica}}">{{notifiche.categoriaNotifica}}</td>
                <td>{{notifiche.oggettoNotifica}}</td>
                <td>{{notifiche.testoNotifica}}</td>
                <td>{{notifiche.numeroDestinatari}}</td>
                <td>{{notifiche.destinatariNotifica}}</td>
                <td jhiTranslate="{{'imprendocasaApp.TipoEsito.' + notifiche.esitoNotifica}}">{{notifiche.esitoNotifica}}</td>
                <td>{{notifiche.dettagliEsito}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/notifiche', notifiche.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/notifiche', notifiche.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'notifiche/'+ notifiche.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="notifiches && notifiches.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
